@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
    
}

input[type="range"]{
    @apply appearance-none w-full cursor-pointer outline-none rounded-md h-2 bg-white;
}

input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none size-4 bg-green-700 rounded-full   
}




